{% extends 'base.html.twig' %}
{% block title %}About - My Portfolio{% endblock %}
{% block body %}
<h1>About Me</h1>
<p>I'm Elias, a dedicated web developer with a strong foundation in PHP, Symfony, and JavaScript frameworks. I love crafting robust backends and beautiful, responsive frontends.</p>
<h2>Skills:</h2>
<ul>
  <li>Symfony, Laravel, PHP</li>
  <li>JavaScript (Vue.js, React), HTML5, CSS3</li>
  <li>MySQL, PostgreSQL, Doctrine ORM</li>
  <li>REST APIs, Git, Docker</li>
</ul>
<p>I'm always eager to learn new technologies and take on challenging projects that push my skills further.</p>
{% endblock %}
